<div class="chat-pannel__chat-card__chat-info-container" data-chat-id="{{id}}">
  <div class="chat-pannel__chat-card__chat-info-message-container">
    <h4 class="chat-pannel__chat-card__chat-info-title">{{chatName}}</h4>
    <p class="chat-pannel__chat-card__chat-info-message">
      {{#if isOwnMessage}}
        Вы:
        <span class="chat-pannel__chat-card__chat-info-text">{{message}}</span>
      {{else}}
        <span class="chat-pannel__chat-card__chat-info-text">{{message}}</span>
      {{/if}}
    </p>
  </div>
  <p class="chat-card__chat-info-time">{{sendAt}}</p>
</div>