<div class="form-input {{class}}">
  <input
    id="{{id}}"
    class="form-input__field"
    type="{{type}}"
    name="{{name}}"
    placeholder=" "
    {{#if required}}required{{/if}}
    {{#if disabled}}disabled{{/if}}
  />
  <label class="form-input__label" for="{{id}}">{{label}}</label>
</div>