<div class="chat-window__chat-messages-container">
  <p class="chat-window__chat-messages-date">{{date}}</p>
  <div class="chat-window__chat-messages-messages">
    {{#each messages}}
      {{#if isOwn}}
        <div class="message-container message-container-own">
          <div
            class="chat-window__chat-messages-message chat-window__chat-messages-own-message"
          >{{text}}<span
              class="chat-window__chat-messages-time chat-window__chat-messages-own-time"
            >{{time}}</span></div>
        </div>
      {{else}}
        <div class="chat-window__chat-messages-message-container">
          <div
            class="chat-window__chat-messages-message chat-window__chat-messages-other-message"
          >{{text}}<span
              class="chat-window__chat-messages-time chat-window__chat-messages-other-time"
            >{{time}}</span></div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>